html {
  background-image: url("../img/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#abstract {
  font-size: 25px;
  text-align: center;
  text-shadow: 5px 5px 8px black;
}

#funds {
  font-size: 85px;
}

#quote {
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 1920px) {
  #logo {
    margin-top: 45px;
    max-width: 317px;
    max-height: 325.8px;
  }

  #abstract {
    font-size: 23px;
    text-align: center;
    text-shadow: 5px 5px 8px black;
  }

  #quote {
    font-size: 27px;
  }

  #funds {
    width: 400px;
    height: 10px;
    text-align: center;
    font-size: 60px;
    margin-top: 0;
    padding: 0;
    position: relative;
    bottom: 20px;
  }

  .text {
    position: relative;
    bottom: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}