body {
  background-image: url("../img/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
}

#join-us-container {
  background-color: #D5EDA3;
  position: absolute;
  margin: 0 auto;
  width: 1596px;
  height: 884px;
  margin-left: 150px;
}

.rightsideimage {
  max-width: 300px;
}

.mainhead {
  text-align: center;
  font-weight: 700;
  color: #08341A;
  font-size: 12px;
}

.subhead {
  text-align: center;
  font-weight: 700;
  color: white;
  line-height: 90%;
  text-shadow: 2px 2px 4px #000000;
}

input {
  border-radius: 30px 30px 30px 30px;
  background-color: #C4C4C4;
  height: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px solid;
}

select {
  border-radius: 30px 30px 30px 30px;
  background-color: #C4C4C4;
}

.name {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding-top: 30px;
  line-height: 220%;
}

.email {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 220%;
}

.mobilephone {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 220%;
}

.location {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 220%;
}

#locationoptions {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 25px;
  border: 0px solid;
  height: 25px;
}

.signup {
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  background-color: #355E3B;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 40px;
  font-size: 15px;
  border: 0px solid;
  padding: 10px;
}

.signup:hover,
.signup:active,
.signup:focus {
  background-color: #E7B246;
  cursor: pointer;
}

.firstrectangle {
  background-color: #5A824C;
  width: 400px;
  margin: auto;
  border-radius: 50px 50px 50px 50px;
  padding: 5px 10px 30px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 700px;
}

.secrectangle {
  background-color: #8A9A5B;
  width: 300px;
  margin: auto;
  border-radius: 50px 50px 50px 50px;
  height: 350px;
  padding: 20px 10px 3px 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 550px;
}

#validation {
  position: relative;
  top: 20px;
  text-align: center;
  font-weight: 700;
  color: #08341A;
  font-size: 20px;
}

@media only screen and (max-width: 1920px) {
  #join-us-container {
    background-color: #D5EDA3;
    position: absolute;
    width: 1250px;
    height: 685px;
    margin-left: 150px;
  }

  .rightsideimage {
    position: relative;
  }

  #muslimahPlanting {
    width: 250px;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 190px;
    left: 80px;
    margin: 0;
  }

  #guyplanting {
    width: 250px;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
    top: 190px;
    left: 120px;
    margin: 0;
  }

  input {
    border-radius: 30px 30px 30px 30px;
    background-color: #C4C4C4;
    height: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0px solid;
    font-family: "Poppins";
    text-align: center;
  }

  .name {
    position: relative;
    bottom: 20px;
  }

  .email {
    position: relative;
    bottom: 40px;
  }

  .mobilephone {
    position: relative;
    bottom: 55px;
  }

  select {
    border-radius: 30px 30px 30px 30px;
    background-color: #C4C4C4;
    position: relative;
    bottom: 80px;
  }

  .location label {
    position: relative;
    bottom: 80px;
  }

  .entireform {
    position: relative;
    left: 310px;
    bottom: 480px;
  }

  #whyYouShouldJoin {
    bottom: 320px;
    left: 160px;
    position: relative;
    color: #08341A;
  }

  .mainhead {
    font-size: 20px;
    font-weight: 700;
    color: #08341A;
    position: relative;
  }

  .mainhead h1 {
    position: relative;
    right: 290px;
    bottom: 100px;
  }

  .mainhead,
  .sweetsentence {
    position: relative;
    bottom: 200px;
  }

  .subhead {
    font-size: 70%;
    text-align: center;
    font-weight: 700;
    color: white;
    line-height: 90%;
    text-shadow: 2px 2px 4px #000000;
  }

  .sweetsentence {
    text-align: left;
    font-size: 12px;
    position: relative;
    left: 70px;
    bottom: -80px;
  }

  .firstrectangle {
    background-color: #5A824C;
    width: 400px;
    margin: auto;
    border-radius: 50px 50px 50px 50px;
    padding: 5px 10px 30px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 460px;
  }

  .secrectangle {
    background-color: #8A9A5B;
    width: 300px;
    border-radius: 50px 50px 50px 50px;
    height: 350px;
    padding: 20px 10px 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 340px;
    margin-bottom: 40px;
  }

  .signup {
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    background-color: #355E3B;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 35px;
    font-size: 13px;
    border: 0px solid;
    padding: 10px;
    position: relative;
    bottom: 130px;
  }

  form {
    position: relative;
    bottom: 20px;
  }

  #validation {
    position: relative;
    text-align: center;
    font-weight: 700;
    color: #08341A;
    font-size: 18px;
  }
}