@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  background-color: #D5EDA3;
  font-family: "Poppins";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.one,
.two,
.three {
  display: flex;
  min-width: 811px;
  margin-bottom: 50px;
}

.one {
  margin-top: 50px;
}

i {
  max-width: 16px;
}

.text {
  margin-left: 50px;
  position: relative;
  bottom: 10px;
}