@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  font-size: 10px;
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#header {
  background-color: #5A824C;
  position: sticky;
  top: 0;
  font-size: 1.4rem;
}

#sdgwheel {
  width: 50px;
  top: -9px;
  position: relative;
  padding: 0 5px;
}

#logo-img {
  width: 70px;
  padding: 0 5px;
}

#nav-bar {
  float: right;
}

#nav-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav-bar li {
  display: inline-block;
  position: relative;
  top: 25px;
  margin-right: 100px;
}

#nav-bar .nav-link {
  color: white;
  text-decoration: none;
}

#nav-bar .nav-link:hover,
#nav-bar .nav-link:focus {
  color: #004d00;
}

#nav-bar .nav-link::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #004d00;
  position: absolute;
  top: -20px;
  width: 0%;
  transition: all ease-in-out 250ms;
}

#nav-bar .nav-link:hover::before,
#nav-bar .nav-link:focus::before {
  width: 100%;
}